.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100wh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.burger-menu__list {
  list-style: none;
}
.burger-menu__link {
  align-items: flex-start;
  font-size: 25px;
  margin: 5px 0px 5px 0px;
  color: #fff;
}
.burger-menu__link span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.dropdown-menu li {
  margin: 5px 0px 5px 20px;
}
